h1 {
  font-weight: 800;
  font-size: 40px;
  background: #aaa;
  color: #fff;
  border-bottom: 1px solid #555;
  padding: 10px;
  text-align: center;
  margin: 0 auto 15px;
  text-shadow: #555 1px 1px 1px;
}

h1 span {
  color: red;
}

section {
  border: 1px solid #ddd;
  box-shadow: 3px 3px 1px #888;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto 15px;
  background: #fff;
  width: 75%;
  padding: 20px;
}

section h2 {
  margin: 0 0 25px;
  font-weight: 200;
  color: #B22222;
  border-bottom: 1px solid #aaa;
}

h3 { margin: 35px 0 0 0; }

button {
  background: #bbb;
  padding: 10px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
}